section {
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 50px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
  background: linear-gradient(to top, #c4efff 0%, #89b8ed 75%);
}

form {
  text-align: left;
}
input {
  background: #89b8ed;
}
input::placeholder {
  text-align: right;
  font-size: smaller;
  font-family: "Rubik", sans-serif;
  background-color: #89b8ed;
  color: white;
}
button {
  background: transparent;
  border: none;
}
button:hover {
  color: white;
}
.container {
  text-align: center;
}
.second-section {
  list-style: none;
  text-align: right;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}
.third-section {
  background: linear-gradient(to top, #1d1f4a 0%, #2e3168 75%);
  color: white;
  text-align: center;
  font-family: "Rubik", sans-serif;
  padding: 35px;
  width: 1000px;
  display: block;
  margin: 0 auto;
  border-radius: 25px;
}

a {
  color: #0a58ca;
}
a:hover {
  color: #2e3168;
}
.default-location {
  text-transform: capitalize;
  text-align: center;
  display: block;
  margin: 0 auto;
}
.main-temperature {
  font-size: 135px;
  font-weight: bold;
}
.fa-sun {
  color: #fff1a3;
}
.fa-cloud {
  color: #ffff;
}
.row {
  font-size: 45px;
}
.col-4 {
  list-style: none;
  font-size: 30px;
  text-transform: capitalize;
}
.dates {
  text-align: left;
  font-size: 40px;
  padding: 10px auto;
  border: 10px;
}
.col-2 {
  text-align: center;
}
.weather-icon {
  font-size: 60px;
}
.daily-temperature {
  font-weight: 75%;
  font-size: 30px;
  opacity: 0.6;
}

.divider,
#celsius {
  font-size: 55px;
}
#fahrenheit,
#celsius:hover {
  cursor: pointer;
}
#main-icon {
  text-align: center;
  font-size: 70px;
}
#date-update {
  font-family: "Rubik", sans-serif;
  font: 55px;
}
#page-credit {
  font-family: "Rubik", sans-serif;
}
